.mod-sitemap .vmenuaccord .yui3-accordion {
    border: 1px solid #93B2CC;
}
.mod-sitemap .vmenuaccord .yui3-accordion-item .yui3-widget-hd {
    background-image: url( /js/yui/gallery/gallery-accordion/assets/skins/sam/accordion_sprite.png );
    background-position: 0px 0px;
    border: 1px solid #93B2CC;
    padding-left: 10px;
}
.mod-sitemap .vmenuaccord .yui3-menu-content, 
.mod-sitemap .vmenuaccord .yui3-menu .yui3-menu .yui3-menu-content {
    border: 1px solid #93B2CC;
}
.mod-sitemap .vmenuaccord .yui3-accordion-item-label {
    text-decoration: none;
    background: transparent;
    overflow: hidden;
    color: #444444;
    font-weight: bold; 
}
.mod-sitemap .vmenuaccord .yui3-accordion-item-label:hover{
    text-decoration: underline;
}