.mod-sitemap .vmenuaccord .yui3-accordion-item-icon,
.mod-sitemap .vmenuaccord .yui3-accordion-item-iconexpanded,
.mod-sitemap .vmenuaccord .yui3-accordion-item-iconalwaysvisible,
.mod-sitemap .vmenuaccord .yui3-accordion-item-iconclose {
	display: none;
}
.mod-sitemap .vmenuaccord .yui3-accordion-item .yui3-widget-hd {
    height: 25px;
}

.mod-sitemap .vmenuaccord .yui3-menu-content, 
.mod-sitemap .vmenuaccord .yui3-menu .yui3-menu .yui3-menu-content {
	border-top: none;
}