.mod-sitemap .vmenuaccord a {
    text-decoration: none;
    background: transparent;
    overflow: hidden;
    color: #525252;
}
.mod-sitemap .vmenuaccord a:hover {
    text-decoration: underline;
}
.mod-sitemap .vmenuaccord .vmenuaccord-item {
    margin-bottom: 3px;
}
.mod-sitemap .vmenuaccord .vmenuaccord-header {
    background-color: #FFF;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #d7d7d7;
}
.mod-sitemap .vmenuaccord .vmenuaccord-header:hover {
    background-color: #FFD470;
    border-color: #FFD470;
}
.mod-sitemap .vmenuaccord .vmenuaccord-content {
    border: 1px solid #d7d7d7;
    background-color: #FFF;
    padding: 7px;
    padding-left: 20px;
}
.mod-sitemap .vmenuaccord-item-notchild .vmenuaccord-content{
    display: none;
}
